body{
    margin: 0;
    font-family: sans-serif;
}

.intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.descr1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center-this{
    text-align: center;
    font-style: italic;
}